<ion-header [translucent]="true" class="ion-no-border">
    <ion-toolbar color="dark">
        <ion-title>
            Penedientes
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="dark">

    <app-listas [terminada]="false"></app-listas>

    <!-- <ion-list color="dark">
        <ion-item *ngFor="let lista of serviceDeseos.listas" detail color="dark" (click)="listaSeleccionada(lista)">
            <ion-label>
                {{lista.titulo}}
            </ion-label>
            <ion-note slot="end" color="tertiary">{{lista.items.length}} items</ion-note>
        </ion-item>
    </ion-list> -->

    <ion-fab slot="fixed" horizontal="end" vertical="bottom">
        <ion-fab-button color="tertiary" (click)="agregarLista()">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>